# Database (Required - Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# GetContact API
GTC_API_BASE_URL=https://pbssrv-centralevents.com
GTC_HMAC_SECRET_KEY=
GTC_ANDROID_OS=android 9
GTC_APP_VERSION=8.4.0
GTC_CLIENT_DEVICE_ID=
GTC_LANG=en_US
GTC_COUNTRY_CODE=id
GTC_SOURCE=search_page
GTC_SEARCH_SOURCE=true_caller

# VerifyKit
VFK_API_BASE_URL=https://web-rest.verifykit.com
VFK_APP_KEY=
VFK_SERVER_KEY=
VFK_CLIENT_IP=
VFK_LANG=en

# External tools API
TOOLS_API_BASE_URL=https://tools.naufalist.com

# Form encryption key
FORM_SECRET_KEY=change-me-to-random-string
